* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: var(--color-text);
}

body {
  min-height: 100vh;
}

strong {
  font-size: inherit !important;
  color: inherit !important;
}

.container {
  padding-left: 0;
  padding-right: 0;
}
