<section class="top-banner">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="text-container">
          <!-- data-aos="fade"
          data-aos-delay="250"
          data-aos-duration="1000"
          data-aos-easing="ease-in-out" -->
          <h1>
            Servimos mais que seu pet, <br />
            <!-- data-aos="fade"
            data-aos-delay="500"
            data-aos-duration="1000"
            data-aos-easing="ease-in-out" -->
            <span>
              servimos sua
              <!-- data-aos="fade"
              data-aos-delay="750"
              data-aos-duration="1000"
              data-aos-easing="ease-in-out" -->
              <strong>família</strong>
            </span>
          </h1>
        </div>
      </div>
      <div class="col-6 align-self-center">
        <div class="img-container">
          <!-- data-aos="fade"
          data-aos-delay="250"
          data-aos-duration="1250"
          data-aos-easing="ease-in-out" -->
          <div class="square"></div>

          <img
            src="../../../assets/imgs/top-banner-dog.png"
            class="dog-img"
            alt=""
          />

          <div class="footprint-container">
            <img src="../../../assets/imgs/pegada.png" class="img-1" alt="" />
            <img src="../../../assets/imgs/pegada.png" class="img-2" alt="" />
            <img src="../../../assets/imgs/pegada.png" class="img-3" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
