<section class="top-banner">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="text-container">
          <!-- data-aos="fade"
          data-aos-delay="250"
          data-aos-duration="1000"
          data-aos-easing="ease-in-out" -->
          <h1>
            Servimos mais que seu pet, <br />
            <!-- data-aos="fade"
            data-aos-delay="500"
            data-aos-duration="1000"
            data-aos-easing="ease-in-out" -->
            <span>
              servimos sua
              <!-- data-aos="fade"
              data-aos-delay="750"
              data-aos-duration="1000"
              data-aos-easing="ease-in-out" -->
              <strong>família</strong>
            </span>
          </h1>
        </div>
      </div>
      <div class="col-6 align-self-center">
        <div class="img-container">
          <img
            src="../../../assets/imgs/top-banner-papagaio.png"
            class="bird-img"
            alt=""
          />
          <!-- data-aos="fade"
          data-aos-delay="250"
          data-aos-duration="1250"
          data-aos-easing="ease-in-out" -->
          <div class="square"></div>

          <img
            src="../../../assets/imgs/top-banner-dog.png"
            class="dog-img"
            alt=""
          />

          <!-- <div class="footprint-container">
            <img src="../../../assets/imgs/pegada.png" class="img-1" alt="" />
            <img src="../../../assets/imgs/pegada.png" class="img-2" alt="" />
            <img src="../../../assets/imgs/pegada.png" class="img-3" alt="" />
          </div> -->
        </div>
      </div>
    </div>
  </div>
</section>

<section id="franquias" class="info-banner container">
  <div class="row">
    <div class="col-6 text-content">
      <h2>
        Seu pet merece
        <strong>a maior rede serviços animais do país!</strong>
      </h2>

      <p>
        Somos a maior rede de franquias do país, mas o que nos torna o melhor é
        nosso amor incondicional pelos pets. Cada patudo, felino, ave e todo ser
        peludo é tratado com o carinho e a dedicação que merece. Nossa equipe de
        apaixonados por animais oferece serviços premium, de banhos de luxo a
        treinamento personalizado.
      </p>
      <p>
        Na Petz, acreditamos em servir com qualidade não apenas aos pets, mas
        também à comunidade e ao planeta. Somos mais do que um petshop; somos
        uma história de amor pelos animais e um legado de excelência em todo o
        Brasil.
      </p>
      <p>
        Junte-se a nós e permita-nos cuidar do seu pet como parte de nossa
        família, celebrando cada momento e enriquecendo o laço entre você e seu
        companheiro peludo.
      </p>
    </div>
    <div class="col-6 img-content">
      <img src="../../../assets/imgs/loja-petz.jpg" alt="" />
    </div>
  </div>
</section>

<section class="info-banner container" id="nossos-valores">
  <div class="row">
    <div class="col-6 img-content left">
      <img src="../../../assets/imgs/gato-estimacao.jpg" alt="" />
    </div>
    <div class="col-6 text-content">
      <h2>Nossa <strong>missão</strong></h2>

      <p>
        No nosso Petshop, nossa missão é simples e profunda: promover o respeito
        e o amor pelos animais em cada ação que tomamos. Cada serviço premium
        que oferecemos e cada produto que escolhemos refletem nosso compromisso
        com o bem-estar e a felicidade dos pets.
      </p>
      <p>
        Além disso, buscamos inspirar nossa comunidade a adotar essa mesma
        filosofia. Com ações sociais e educação, estamos moldando um mundo onde
        todos os animais são tratados com dignidade e amor.
      </p>
      <p>
        Junte-se a nós nesta missão, onde cada gesto é uma expressão do nosso
        profundo respeito e carinho por esses membros especiais da nossa vida.
      </p>
    </div>
  </div>
</section>

<section class="default-banner-margin">
  <div class="container">
    <div class="banner-card">
      <h3>
        Faça parte desse mundo de cuidados e <br />
        <strong>invista no seu melhor amigo</strong>
      </h3>

      <a href="/" target="_blank" class="custom-btn primary">Fale conosco</a>
    </div>
  </div>
</section>
