<header class="header">
  <a href="" class="header__logo">
    <img src="../../../assets/imgs/logo.svg" alt="" />
  </a>

  <nav class="header__menu">
    <ul>
      <li><a href="#franquias">Franquias</a></li>
      <li><a href="#nossos-valores">Nossos Valores</a></li>
      <li><a href="#produtos">Produtos</a></li>
      <li><a href="#adotepetz">Adotepetz</a></li>
    </ul>
  </nav>

  <a href="" class="fale-conosco custom-btn">Fale conosco</a>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<footer>Desenvolvido por João Vitor Loureiro</footer>
